.brightness {
    filter: brightness(50%);


}

.header-color {
    color: #4A4A4A;
}

.p-color {
    color: #777777;
}

.btn-bg-white {
    background-color: white;

}

@media screen and (max-width:480px) {}