.brightness {
    filter: brightness(50%);


}

.i-color {
    color: gold;
}

.header-color {
    color: #4A4A4A;
}

.p-color {
    color: #777777;
}





.btn-bg-white {
    background-color: white;

}

.carousel-caption {
    bottom: initial;
    top: 50%;
    transform: translateY(-50%);
}